<% provide(:title, "Log In") %>
<h1>Log in</h1>

<%= form_with scope: :session, url: login_path do |form| %>
  <%# render 'shared/error_messages' %>
  <p>  
    <%= form.label :email %><br/>
    <%= form.email_field :email %>
  </p>
  <p>
    <%= form.label :password %><br/>
    <%= form.password_field :password %>
  </p>

  <%= form.label :remember_me, class: "checkbox inline" do %>
    <%= form.check_box :remember_me %>
    <span>Remember me on this computer</span>
    <% end %>
  <p>
    <%= form.submit "Log in" %>
  </p>
<% end %>

<p>New user? <%= link_to "Create an Account", signup_path %><p>