<p>
  <strong>Flower:</strong>
  <%= @flower.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @flower.description %>
</p>

<h2>Sightings</h2>
<%= render @flower.sightings %>

<h2>Add a Sighting:</h2>
<%= render 'sightings/form' %>

<%= link_to 'Edit', edit_flower_path(@flower) %>
<%= link_to 'Back', flowers_path %>